//output:index.html

doctype html

html

head
  meta(name="Lizzie Karr", content="the lizzie karr")
  meta(name="description", content="portfolio")
  link(rel='shortcut icon' type='image/x-icon' href='')
  link(href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Cabin+Sketch|Monoton|Reenie+Beanie|Syncopate|Ruslan+Display" rel="stylesheet")
  script(src="./jquery.js")
  script(src='bower_components/jquery/jquery.js')
  script(src='bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js')
  script(src="./modernizr-2.8.3.min.js")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css", rel="stylesheet")
  link(href="./styles.min.css", rel="stylesheet")
  script(type="text/javascript", src="./app.js")
  title LK Dev/Design

.container-fluid
  .home.page
    figure
      .page-link.story-link
        h2 stories
    figure
      .page-link.project-link
        h2 dev/design
    figure
      .page-link.contact-link
        h2 contact
  .contact.page
    .email lizziemoves@gmail.com
    .social-section
      a(href='https://github.com/lizziekarr' target='blank') github
      a(href='https://www.linkedin.com/in/lizzie-karr-a778587/' target='blank') linkedIn
      a(href='https://twitter.com/lizzie_codes' target='blank') twitter
  .projects.page
    .pink-line.top
    img(src='https://s3.amazonaws.com/thelizziekarr.com/flower-dev.jpg').flower-one
    .exit EXIT PROJECTS

    .project.p-one     
      a(href='http://www.ladyrebranded.com' target='blank') Lady Rebranded
    .project.p-two         
      a(href='https://s3.us-east-2.amazonaws.com/wordsuite.com/index.html' target='blank') WordSuite
    .project.p-three
      a(href='http://www.lizziekarrmusic.com' target='blank') Lizzie Karr Music
    .project.p-four
      a(href='http://www.everyoneiscrying.com' target='blank') Everyone is Crying
    .project.p-five 
      a(href='http://trekkr.io' target='blank') Trekkr
    img(src='https://s3.amazonaws.com/thelizziekarr.com/flower-dev.jpg').flower-two
    .pink-line.bottom
  .stories.page
    .box.one
      .letters
        .title S
        .title T
        .title Y
        .title L 
        .title E 
      .content When I was four, my mother bought me black, pink, and white clothes so I could dress myself. I spent most of my life thinking I had kinetic and sonic intelligence, but not visual intelligence.  I realized that's a myth and now I make web pages.  
    .box.two
      .exit EXIT STORIES
      .title CREATIVITY 
      .content A man and I once took his 10 year old sister to New York MoMA.  He turned his nose up at the minimalist exhibit and told the girl that it wasn't art.  I was mesmerized by a video of a woman lying on a spiral of slowly unraveling watermelons that floated in the Caspian Sea.  I told the man's sister that it's art if it does something to your brain.  I still believe that.
    .box.three
      .title COLLABORATION
      .content The best class I ever took was called Direction, Design, and Choreography at NYU.
      .content We choreographers collaborated with set designers, lighting designers, costume designers, dancers, and composers.
      .content Since then, I've collaborated with programmers, video artists, musicians, producers, sculptors, stylists, actors, directors, animators, and graphic designers.
      .content.team TEAMWORK LIGHTS ME UP.

    .box.four
      .title COMMUNITY
      .content A wise man told me recently, when you say 'yes' to the world, the world says 'yes' to you.  I am dedicated to building one free webpage a month for artists and community organizations.  Ask to get on the calendar!
    
    .box.five
      .title LEADERSHIP
      .content The first time I led a group, I taught middle school kids how to build fires and shelters.
      .content The second time, I led a summer dance program.
      .content Nobody ever told me that leadership was supposed to be difficult.  
      .content So I directed a dance company for four years.  This was easy, because dancers are disciplined.  It was hard because I tried to do too many things.  I learned to delegate.
      .content When I decided to lead bands and record albums, I was surprised.  Musicians are not all disciplined.  I learned to read people and work with the best.  
      .content Now I always work with the best.  Leadership is easy with great teams.
    .box.six
      .title PROGRAMMING
      .content.first In high school, my father told me one day that he had decided what my college major was going to be.  My mother and I admonished him for deciding my future for me, but asked what it was.  He said software engineering.  
      .content I rebelled against my Dad for years.  A couple years ago, I realized what a cool idea he had, and that he understood all those years ago how my brain works.  So I became a software engineer.
  
  
